<header class="main-header" th:fragment="admin-header">

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/tasks">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Task management</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

<!--    &lt;!&ndash; Nav Item - Dashboard &ndash;&gt;-->
<!--    <li class="nav-item active">-->
<!--        <a class="nav-link" href="/admin">-->
<!--            <i class="fas fa-fw fa-tachometer-alt"></i>-->
<!--            <span>Dashboard</span></a>-->
<!--    </li>-->

    <!-- Divider -->
    <hr class="sidebar-divider">

<!--    &lt;!&ndash; Heading &ndash;&gt;-->
<!--    <div class="sidebar-heading">-->
<!--        Manage Content-->
<!--    </div>-->

    <li class="nav-item">
        <a class="nav-link" href="/tasks">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Tasks</span></a>
    </li>

<!--    <li class="nav-item">-->
<!--        <a class="nav-link" href="/orders">-->
<!--            <i class="fas fa-fw fa-chart-area"></i>-->
<!--            <span>Orders</span></a>-->
<!--    </li>-->

<!--    <li class="nav-item">-->
<!--        <a class="nav-link" href="/gallery">-->
<!--            <i class="fas fa-fw fa-chart-area"></i>-->
<!--            <span>Gallery</span></a>-->
<!--    </li>-->

<!--    &lt;!&ndash; Divider &ndash;&gt;-->
<!--    <hr class="sidebar-divider">-->

<!--    &lt;!&ndash; Heading &ndash;&gt;-->
<!--    <div class="sidebar-heading">-->
<!--        Manage users-->
<!--    </div>-->

<!--    <li class="nav-item">-->
<!--        <a class="nav-link" href="/admin/users">-->
<!--            <i class="fas fa-fw fa-chart-area"></i>-->
<!--            <span>Users</span></a>-->
<!--    </li>-->

<!--    <li class="nav-item">-->
<!--        <a class="nav-link" href="/admin/clients">-->
<!--            <i class="fas fa-fw fa-chart-area"></i>-->
<!--            <span>Clients</span></a>-->
<!--    </li>-->

<!--    <li class="nav-item">-->
<!--        <a class="nav-link" href="/specialists">-->
<!--            <i class="fas fa-fw fa-table"></i>-->
<!--            <span>Specialists</span></a>-->
<!--    </li>-->

<!--    <li class="nav-item">-->
<!--        <a class="nav-link" href="charts.html">-->
<!--            <i class="fas fa-fw fa-chart-area"></i>-->
<!--            <span>Admins</span></a>-->
<!--    </li>-->


<!--    &lt;!&ndash; Divider &ndash;&gt;-->
<!--    <hr class="sidebar-divider d-none d-md-block">-->

<!--    <li class="nav-item">-->
<!--        <a class="nav-link" href="/reviews">-->
<!--            <i class="fas fa-fw fa-chart-area"></i>-->
<!--            <span>Reviews</span></a>-->
<!--    </li>-->

<!--    <li class="nav-item">-->
<!--        <a class="nav-link" href="/tables">-->
<!--            <i class="fas fa-fw fa-table"></i>-->
<!--            <span>Schedule</span></a>-->
<!--    </li>-->

<!--    &lt;!&ndash; Divider &ndash;&gt;-->
<!--    <hr class="sidebar-divider d-none d-md-block">-->

<!--    &lt;!&ndash; Nav Item - Tables &ndash;&gt;-->
<!--    <li class="nav-item">-->
<!--        <a class="nav-link" href="/admin/tables">-->
<!--            <i class="fas fa-fw fa-table"></i>-->
<!--            <span>Tables</span></a>-->
<!--    </li>-->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

</ul>
<!-- End of Sidebar -->

</header>